body {
    margin: 0;
    background-color:cornsilk;
    font-family: Arial, sans-serif;
    /*font-family: algerian, courier;*/
}

img {
    width: max(280px,50%);
    float: right; 
    margin: 0px 10px;
    padding: 0;
    border-radius: 1vw;
}

.topnav-container {
    position: fixed;
    background-color:burlywood;
    display: flex;
    justify-content:left;
    align-items: flex-start;
    width: 90%;
    padding: 20px;
    padding-left: 2.5%;
    padding-right: 7.5%;
    row-gap: 15px;
    z-index: 99999;
}

.topnav-container h1 {
    padding-right: 2%;
}

.nav-secondary {
    display: flex;
    flex: 1;
    align-items: center;
    margin-right: 5%;
    margin-left: 2%
}

.nav-tertiary {
    display: flex;
    flex: 2;
    align-items: center;
    /*margin: 0 3%;*/
}

.topnav-container h1 {
    margin: 0 2%;
    padding-top: 5px;
}

.topnav-container a,
.topnav-container button {
    display: inline-block;
    margin: 1% 1%;
    padding: 5px 10px;
    font-size:clamp(18px,5vw,25px);
    text-decoration: none;
    border-radius: 10px;
    background-color: cornsilk;
    color: black;
    border-width: 0;
}

.topnav-container button:hover {
    background-color: peru;
}

.topnav-container a:hover {
    background-color: peru;
}

.topnav-container a.active {
    background-color: saddlebrown;
    color: white;
}

#account-button i {
    padding: 5px 5px;
    font-size: 37px;
}

#account-button {
    position: absolute;
    top: 42.5px;
    right: 15px;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
}

.topnav-container form {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
}

.search-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
}

.search-container input {
    margin-right: 5px;
    font-size:clamp(20px,5vw,25px);
    flex: 1;
    min-width: 0;
}

.search-container button {
    font-size:clamp(20px,5vw,25px);
}

hr {
    border: 0;
}

button {
    background-color:bisque;
    border: none;
    margin: 1%;
    padding: 4px 8px;
    border-radius: 5px;
}

button:hover {
    background-color:burlywood;
}

#map {
    border-radius: 10px;
    height: 400px;
    width: max(50%,300px);
}

#content-div {
    padding: min(10vw,140px) 5vw;
}

footer.footer-container {
    background-color: burlywood;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 0px;
    width: 90%;
    padding: 10px 5%;
    margin: 0;
}

footer.footer-container h2 {
    font-family: algerian, courier;
    margin-left: 40px;
    margin-right: 40px;
    white-space: nowrap;
}

footer.footer-container div {
    white-space: nowrap;
    margin: 0 10px;
    padding: 0;
}

@media screen and (max-width: 1100px) {
    .topnav-container {
        flex-wrap: wrap;
    }

    .topnav-container h1 {
        margin-bottom: 0;
    }

    .nav-tertiary {
        width: 100%;
    }

    #content-div {
        padding: min(22vw,200px) 5vw ;
    }

}

@media screen and (max-width: 768px) {
    .topnav-container {
        position: static;
    }
    
    #content-div {
        padding: min(10vw,30px) 5vw;
    }

    footer.footer-container {
        justify-content: center;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    img {
        float:none;
        margin: 0;
    }
}